version: "3.8"

services:
  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    ports:
      - "${SERVER_PORT:-3000}:3000"
    volumes:
      - ./apps/server:/usr/src/app
    env_file:
      - .env

  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    ports:
      - "${CLIENT_PORT:-3001}:3001"
    volumes:
      - ./apps/client:/usr/src/app
    env_file:
      - .env
